<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span> <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item  <%= path === '/' ? 'is-active' : '' %>" href="/">
        Home
      </a>
      <a class="navbar-item  <%= path === '/' ? 'is-active' : '' %>" href="/">
        Shop
      </a>
      <a class="navbar-item  <%= path === '/' ? 'is-active' : '' %>" href="/">
        About
      </a>
      <a class="navbar-item  <%= path === '/' ? 'is-active' : '' %>" href="/">
        Contacts
      </a>
      <% if (isAdmin) { %>
        <a class="navbar-item  <%= path === '/admin/add-product' ? 'is-active' : '' %>" href="/admin/add-product">
          Add Product
        </a>
        <a class="navbar-item  <%= path === '/admin/products/?page=1' ? 'is-active' : '' %>" href="/admin/products/?page=1">
          Products
        </a>
         <% } %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if (!isAuthenticated) { %>
          <a class="button is-dark " href="/sign-up">
            <strong>Sign up</strong>
          </a>
          <a class="button is-dark  " href="/login"> <strong>login</strong> </a> <% } else { %>
          <a class="button is-dark  " href="/logout"> <strong>Logout</strong> </a> <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
