<section class="section">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <% if (hasPreviousPage) { %>
                <a href="?page=<%= previousPage %>" class="pagination-previous">Previous</a>
            <% } %>
            <% if (hasNextPage) { %>
                <a href="?page=<%= nextPage %>"  class="pagination-next">Next page</a>>
            <% } %>
            <ul class="pagination-list">
                    <li><a href="?page=<%= currentPage %>"  class="pagination-link is-current" ><%= currentPage %></a></a></li>
                    <% if (currentPage !== 1 && previousPage !== 1) { %>
                        <li><a  href="?page=1"class="pagination-link" >1</a></li>
    
                    <% } %>
                    <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                        <li><a href="?page=<%= lastPage %>"class="pagination-link" >Last Page</a></li>
                    <% } %>
                
              </ul>
          </nav>  
    </section>
    