<article class="media " id="cart-product-<%= product._id %>">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="/<%= product.productId.imageUrl %>">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong class="is-size-5"><%= product.productId.name %></strong> 
              <br >
              <strong class="has-text-grey-light "><%= product.productId.screenSize %> inch,</strong> 
              <strong class="has-text-grey-light"><%= product.productId.memory.capacity %><%= product.productId.memory.memoryType %> </strong> 
              <strong class="has-text-grey-light"><%= product.productId.ram %>GB RAM</strong> 
        
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a  class="level-item remove-btn" data-productId="<%= product._id %>">
               Remove
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
                <br >
                <strong class="is-size-4" >$<%=
                   product.quantity * product.productId.price %></strong> 
                <br>
                <strong class="is-size-4" >Quantity: <%= product.quantity %></strong> 
                <br>
        </div>
      </article>