<div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/<%= product.imageUrl %>" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="/images/<%= product.brand %>-logo.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class=" is-size-4"><%= product.name %></p>
              <p class="is-size-5"> $<%= product.price %></p>
            </div>
          </div>
        </div>
        <footer class="card-footer">
            <a href="/add-to-cart/<%= product._id %>" class="card-footer-item">Add To Card</a>
              <a href="/product/<%= product._id %>" class="card-footer-item ">Details</a>

            <% if (isAdmin) { %>
              <a href="/admin/edit-product/<%= product._id %>" class="card-footer-item">Edit</a>
                <a data-productId="<%= product._id %>" class="card-footer-item delete-btn">Delete</a>
                 <% } %>
          </footer>
      </div>